body {
    position: relative;
    margin: 0;
    padding: 20px;
    background: var(--background);
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;
    color: var(--text);
    width: 100%;
    overflow-x: hidden;
}

.game {
    display: flex;
    justify-content: center;

    .topMessage {
        text-align: center;
        margin-bottom: 10px;
    }
}

form {
    text-align: center;

    input[type=text] {
        background: var(--lightBackground);
        border: 1px solid var(--lightBorder);
        padding: 10px;
        margin: auto;
        color: white;
        border-radius: 3px;
        outline: none;

        &:focus {
            border-color: var(--highlight);
        }
    }

    label {
        display: block;
        color: var(--text);
        margin-bottom: 10px;
    }

    input[type=submit] {
        background: var(--lightBackground);
        border: 1px solid var(--lightBorder);
        padding: 10px;
        margin: auto;
        color: white;
        border-radius: 3px;
        cursor: pointer;       

        &:hover {
            background: var(--lighterBackground);
        }
    }
}

