<!DOCTYPE html>
<html>
<head>
    <title>Twitch-Chess</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/css/chessboard-0.3.0.min.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <script type="text/javascript" src="js/chessboard-0.3.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<h1 class="title-text">Twitch-Chess</h1>

<div id="board" style="width: 600px"></div>

<script type="text/javascript" src="js/main.js"></script>
</body>
</html>