:root {
    --weakText: rgb(200, 200, 200);
    --text: rgb(250, 250, 250);
    --lighterBackground: #616161;
    --lightBackground: #18181B;
    --background: #0E0E10;
    --lightBorder: rgba(255,255,255, 0.1);
    --highlight: #3498db;
    --positive: #2ecc71;
}
